* {
  color: #1a1d23;
}

main, header {
  background-color: #797d88;
}

.main-content {
  background-color: #f3f7f7;
}

nav,
footer {
  background-color: #462255;
}

li.navbar-item {
  display: flex;
  flex-direction: row;
}

li.navbar-item > a {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin: auto;
}

div.navbar-collapse > ul {
  flex: 100%;
}

iframe {
  width: 426px;
  height: 240px;
}

.image-hobbies {
  width: 426px;
  display: block;
  text-align: center;
  margin: auto;
}

.center-content {
  text-align: center;
}

address {
  color: #ffffff8c;
  font-size: 1rem;
  margin: 0px;
  display: table-cell;
  vertical-align: middle;
}

.link-hobbies {
  text-decoration: none !important;
  color: black !important;
}

.div-img-hobbies {
  margin: 1rem auto;
}

footer {
  height: 3rem;
  text-align: right;
}

footer > div {
  height: 100%;
  display: table;
}

#academic_experience > p {
  text-align: justify;
}

img[src="templates/foto.jpg"]{
  width: 300px;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  padding-top: 2.5rem;
}

nav {
  height: 5rem;
}

h1, h2{
  padding-top: 2.5rem;
}

h3, h4, h5 {
  padding-top: 1rem;
}

#my_hobbies, #my_profile, #my_projects {
  position:relative;
}

h2 span{
  position:absolute; top:-5rem;
}
